

// website fonts
$regular-text: 'Tahoma';


// website colors
$portfolio-black:#323232;
$potfolio-darkblack:#000000;
$portfolio-blue:#0095FF;
$portfolio-darkblue:#0065AD;
$silver:#AFAFAF;
$white:#FFFFFF;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;
$portfolio-footer: #653b8b;

//display device breakpoints
$mobile-breakpoint-max: 767px;
$tablet-breakpoint-min: 768px;
$desktop-breakpoint-min: 1280px;